{
  // I want to use babel-eslint for parsing!
  "parser": "babel-eslint",
  "env": {
    // in CommonJS
    "node": true
  },
  "rules": {
    "quotes": [1, "double"],
    "eol-last": [0],
    "no-mixed-requires": [0],
    "no-underscore-dangle": [0],
    "no-unreachable": [2],
    "no-proto": 1,
    "no-unused-vars": 0,
    "no-underscore-dangle": 0,
    "eol-last": 0,
    "new-cap": 0,
    "consistent-return": 0,
    "no-new": 0,
    "no-undef": 1,
    "prefer-const": 1,
    "no-class-assign": 1,
    "no-const-assign": 1
  }
}
